<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div class="form">
        <h1>Bejelentkezés</h1>
        <p data-th-if="${loginError}" class="error">Rossz adatok. Próbáld újra!</p>

        <form class="form" data-th-action="@{/login}" method="post">
            <input type="text" data-th-name="username" placeholder="felhasználónév">
            <input type="password" data-th-name="password" placeholder="jelszó">

            <input class="send_button" type="submit" value="Bejelentkezés!">
        </form>
    </div>
</div>

</body>

</html>