<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Új űrhajó</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
        <form data-th-action="@{/spaceship}" data-th-object="${newShip}" method="post">

            <table>
                <tr>
                    <th>Space Ship Class:
                        <select data-th-field="*{spaceShipClass}">
                            <option data-th-each="shipClass : ${shipClasses}"
                                    data-th-value="${shipClass}"
                                    data-th-text="${shipClass}">
                            </option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Ship Name:</th>
                    <td><input type="text" data-th-field="*{name}"></td>
                </tr>
                <tr>
                    <button type="submit">New Ship</button>
                </tr>
            </table>
        </form>



</div>

</body>

</html>